<section class="qhuy-top-menu">
    <div class="qhuy-container">
        <nav class="qhuy-topside-menu">
            <ul>
                <li class="qhuy-user">
                    <a href="/user/profile">Thông tin tài khoản</a>
                </li>
                <li class="qhuy-user qhuy-end-menu">
                    <a href="/user/history">Lịch sử mua hàng</a>
                </li>
            </ul>

            <div class="menu-search">
                <form>
                    <input class="form-control" placeholder="Tìm kiếm" id="txt_global_search" value="" type="text">
                    <button type="button" id="btn-search">
                        <img src="/img/icon/search.png">
                    </button>
                </form>
            </div>
        </nav>
    </div>
</section>

<div class="thong-tin-tai-khoan">
        <form name="thong-tin" method="post" action="/user/editprofile">
            <div>
                <label for="edfullname">Họ tên: </label>
                <button class="edit" id="edit-fullname">Sửa</button>
                <input name="edfullname" type="text" id="edfullname" placeholder="{{fullname}}">
            </div>

            <div>
                <label for="edemail">Email</label>
                <button class="edit" id="edit-email">Sửa</button>
                <input name="edemail" type="email" id="edemail" placeholder="{{email}}">
            </div>

            <div>
                <label for="edpassword">Mật khẩu</label>
                <button class="edit" id="edit-password">Sửa</button>
                <input name="edpassword" type="password" id="edpassword" placeholder="*******">
            </div>

            <div>
                <label for="edphonenumber">Số điện thoại</label>
                <button class="edit" id="edit-phone">Sửa</button>
                <input name="edphonenumber" type="tel" id="edphonenumber" placeholder="{{phonenumber}}">
            </div>

            <div>
                <label for="edaddress">Địa chỉ</label>
                <button class="edit" id="edit-address">Sửa</button>
                <input name="edaddress" type="text" id="edaddress" placeholder="{{address}}">
            </div>

			<input class="csrfToken" type="hidden" name="_csrf" value="{{ csrfToken }}">
            <input type="submit" value="Thay đổi">
        </form>
</div>


